html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
	/*margin을 없애준다.*/
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
	/*border-box로 내부 패딩이나 보더가 width height에 포함되도록 한다?*/
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	/*반응형으로 잘 동작하도록 컨테이너가 이미지보다 줄어들었을 때 같이 줄어들 수 있게 max-width를 100%*/
	/*컨테이너란? 소프트웨어 서비스를 실행하는 데 필요한 특정 버전의 프로그래밍 언어 런타임 및 라이브러리와 같은 종속 항목과 애플리케이션 코드를 포함하는 경량 패키지*/
	height: auto;
}
.global-width{
	max-width:620px;
	/*모바일 기기에서는 620px보다 더 줄어들어야 하기 때문에 width가 아닌 max-width*/
	margin:0 auto;
	/*좌우를 auto로 해서 가운데 정렬*/
	padding:0 15px;
	/*글자 줄였을 때도 좌우 여백을 주기 위함*/
}
.scroll-graphic{ /*이미지들을 통째로 그룹화 하고 있는 클래스*/
	overflow-x:hidden;
	/*이미지가 브라우저를 넘어가는 경우, 이미지가 보이도록 스크롤이 생기는 현상이 사라짐*/
	position:sticky;
	/*그림이 특정부위에 고정돼있게 하기 위함*/
	top:0;
	/*지정된 위치(브라우저 상단)가 되면 sticky가 적용돼서 이미지가 안올라가고 붙어있게 됨*/
	height:100vh;
	/*vh는 부모요소가 아닌 뷰포트의 높이값에 맞춰 상대적인 크기를 반환한다. 숫자가 클 수록 위쪽과 멀어진다.*/
}
.graphic-item{/*각각의 이미지에 적용됨*/
	display:flex;
	/*화면사이즈에 꽉 차게 하기. 그림 사이즈가 가로로 더 커졌다.*/
	align-items:center;
	/*세로방향 가운데 정렬*/
	justify-content:center;
	/*가로방향 가운데 정렬*/
	position:absolute;
	/*이미지를 겹쳐놓기 위해서*/
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
	/*불투명도 0*/
	transition:0.5s;
	/*부드럽게 이미지가 나오도록 애니메이션 지정해준다.*/
	will-change:opacity;
	/*바뀔 내용을 미리 브라우저에 알려준다. opacity는 불투명도. 브라우저에 불투명도가 바뀌는 것을 미리 알려줘서 브라우저가 빠르고 효율적으로 처리하게 도와준다.*/

}
.visible{
	opacity:1;
	/*visible이 붙으면 불투명도가 1이 돼서 브라우저 상에 그림이 보이게 된다.*/
}
.scene-img{
	max-height:100vh;
	/*브라우저를 전체화면으로 했을 때 그림의 상단이 브라우저에 잘리는 현상이 있었는데
	전체화면의 뷰포트 사이즈의 높이에 맞게 max-height가 설정이 돼서 브라우저 크기를 늘리거나 줄여도 그림이 잘리지 않음*/
}
.scroll-text{
	position:relative;
	/*position의 기본값은 static. 태그의 위치를 변경하고 싶을 때 relative 사용. */
	/*static이 아니면 z-index를 가지고 있어서 z-index 숫자에 따라 위 아래 구분 할 수 있다.*/
	/*z-index 설정 안하면 코드 상 아래에 있는 코드가 화면 위로 올라온다.*/
	/*그림을 감싸는 scroll-graphic보다 말풍선을 감싸는 scroll-text가 아래에 코딩돼있어서 말풍선이 그림 위로 올라온다.*/	
	padding-bottom:1px;
	/*상하단 margin 병합 현상 때문*/
}
.step{
	margin-bottom:60vh;
	/*창사이즈의 60	퍼센트 높이*/
	padding:0.5rem 1rem;
	border-radius:10px;
	/*숫자가 커질수록 모서리를 둥글게 만든다.*/
	background:rgba(255,255,255,0.8);
	/*뒤의 숫자가 0에 가까울수록 색이 투명해진다.*/
	box-shadow:rgba(0,0,0,0.3) 0 0 3px;
	/*3픽셀정도 퍼지게 만든다.*/
}
.bird{
	position:absolute;
	/*이미지가 두개 연달아 나와서 새 옆에 있는 이미지가 화면 밖으로 밀려나는것을 방지하기 위해서 일반적인 문서 흐름에서 제거한다. (다음 div가 해당 자리를 차지하게 된다.)
	가장 가까운 위치에 있는 조상 요소를 기준으로 위, 아래, 왼쪽, 오른쪽에서 얼만큼 떨어질지 결정된다.*/
	left:0;
	bottom:70%; 
	width:100px;/*새 크기 줄이기*/
	transform:translateX(-100%); /*지연 시간 동안 화면에서 안보이게 하기 위해서 x축 기준 화면 밖(마이너스값)에 있도록 설정해주고, %는 자기자신의 크기 기준 100% 왼쪽으로 이동한다는 의미이다.*/
	transition :1.5s 0.5s linear;/*1.5초 동안 날아간다(재생시간). 출발 시간을 0.5초 지연시키고, transition이 기본적으로 가지고 있는 가속도를 없애기 위해서 linear를 붙여서 속도를 일정하게 바꿔준다.*/
}
[data-index="5"] .bird{ /*두번째 새 그림*/
	left:30%;
	bottom:30%;
}
.global-footer{
	padding:2rem 0;
	/*위아래 패딩*/
	text-align:center;
	/*가운데 정렬*/
}
.strikethrough{
	text-decoration:line-through;
}